.gallery-slider {
  padding-bottom: 40px;
}

.gallery-slider .swiper-pagination {
  bottom: 0 !important;
}

.gallery-slider .swiper-pagination-bullet {
  background-color: #ffffff8d !important;
  border: 1.5px solid white !important;
  width: 8px;
  height: 8px;
}

@media (min-width: 768px) {
  .gallery-slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .gallery-slider .swiper-pagination {
    bottom: 5px !important;
  }
}

@media (min-width: 992px) {
  .gallery-slider .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
  }
  .gallery-slider .swiper-pagination {
    bottom: 0px !important;
  }
}

.gallery-slider .swiper-pagination-bullet-active {
  background-color: white !important;
}
